body {
  position: relative;
}

#voiceread {
  background-color: #222;
  color: #DDD;
  font-family: "Avenir Next", "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  font-size: 50px;
  letter-spacing: 3px;
  left: 0px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 100%;
}

#text {
  width: 600px;
  margin: auto;
}
.highlighted {
  background-color: blue;
}
.word:after {
  content: ' ';
  background-color: transparent !important;
}